<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <img height="64" data-app-src="logo.svg" />
        </div>
        <div class="modal-body">

            <dl>
                <dt>About:</dt>
                <dd>
                    <a target="_blank" href="https://github.com/Tasarinan/dockWrite/">GitHub
						project</a> /
                    <a target="_blank" href="https://github.com/Tasarinan/dockWrite/issues">issue
						tracker</a>
                    <br />
				</dd>
			</dl>
			<dl>
				<dt>Developers:</dt>
				<dd>
					<a target="_blank" href="https://github.com/Tasarinan">Tasarinan</a><br />
                </dd>
			</dl>

			<p>
				<% =product % > <%= version %> &ndash; <br /> Copyright 2015-2016 <br />
			</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
		</div>
	</div>
</div>
